openai==1.1.1
transformers==4.37.2
torch==2.0.1
sentencepiece

pydub
speechrecognition
librosa==0.10.0.post2

pytesseract
opencv-python
Pillow

googletrans==4.0.0rc1
langdetect

python-telegram-bot==20.3

python-dotenv
requests
aiohttp

tqdm
scikit-learn==1.3.2
nltk
numpy
matplotlib
beautifulsoup4
